{% extends "layout.html" %}

{% block title %}
    Join Match
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col align-self-start">
                <div class="card shadow-sm bg-primary text-white">
                THIS WAS A CS50x FINAL PROJECT
                </br>
                BY : AJEGBOMOGUN OPEYEMI AYOMIKUN
            </div>
            </div>
            <div class="col align-self-center">
                <div class="card shadow-sm bg-success text-white">
               TITTLE: EKSU FIVE A-SIDE FOOTBALL
            </div>
            </div>
            <div class="col align-self-end">
                <div class="card shadow-sm bg-danger text-white">
                FROM EKITI STATE UNIVERSITY ADO-EKITI
                </br>
                NIGERIA
            </div>
            </div>
        </div>
    </div>
{% endblock %}